/* @media Responsive Start */

@media (max-width: 1199px) {
	.main-slider .owl-item .item {
		background-size: cover;
		background-position: center;
	}
}


@media (min-width: 992px) and (max-width: 1198px) {
	.team-footer .widget {
	    margin-top: 10px;
	}
	.team-footer .widget_social_widget li:not(:last-child),
	.team-footer .widget_social_widget li:not(:last-child) a {
	    margin-right: 0px;
	}
	.team-member:hover .team-footer {
    	padding: 36px 6px 32px;
    }
}

@media (min-width: 992px) {
	.varuda-theme .info-section {
		margin: -75px 0px 20px 0px;
	}

	.varuda-theme .header, .varuda-theme #above-header {
		background-color: var(--sp-secondary);
		border-radius: 0px 0px 100px 100px;
	}
	
	.varuda-theme .header-above-info .header-widget {
		margin-bottom: 50px;
	}

	.varuda-theme .navigator-wrapper {
		position: absolute;
		top: 80px;
		right: 0;
		left: 0;
		width: 100%;
		border-top: 0;
		margin: 0 auto;
		z-index: 99;
	}
	
	
	.varuda-theme #slider-section,
    .varuda-theme #breadcrumb-section	{
		margin-top: -90px;
	}
	
	/* .varuda-theme .theme-slider div.theme-content { */
		/* margin-top: 135px; */
	/* } */

	
	.varuda-theme .owl-item .aera-img img {
		max-height: 400px;
	}	
	.varuda-theme .theme-content.text-left .aera-img img {
		margin-left: auto;
	}
    .mobile-logo,
    .theme-mobile-menu {
        display: none;
    }
    .gallery-area .gallery-item {
	    -ms-flex: 0 0 20%;
	    flex: 0 0 20%;
	    max-width: 20%;
	}
    .header-transparent .header {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        border-top: 0;
        margin: 0 auto;
        z-index: 99;
    }
    .header-transparent .breadcrumb-area {
	    padding-top: 18%;
	}
    .header-transparent .header,
    .header-transparent:not(.header-above-light) .header .header-above-info,
    .header-transparent .navbar-area:not(.sticky-menu) {
    	background: none;
	    box-shadow: none;
    }
    .header .header-above-info {
    	border-bottom: none;
    }
	
    .header-transparent .navbar-area:not(.sticky-menu) .header-search-toggle,
    .header-transparent .navbar-area:not(.sticky-menu) .cart-wrapper .cart-icon-wrap,
    .header-transparent .navbar-area:not(.sticky-menu) .menubar .menu-wrap > li:not(:hover):not(.focus):not(.active) > a {
    	color: var(--sp-white);
    }
    .header-transparent .navbar-area .menubar .menu-wrap > li:not(:last-child):after {
    	border-right-color: var(--sp-white);
    }
    body.admin-bar.header-transparent .header {
        top: 32px;
    }
	
	.varuda-theme .main-slider .owl-item .item {
		min-height: 700px;
	}

	.header-transparent .theme-slider div.theme-content {
		margin-top: 8.5rem;
		margin-bottom: 3rem;
	}
	.header-transparent .main-slider .owl-nav {
		bottom: 8.5em;
	}
	.cta-3 .cta-btn-wrap {
	    border-left: 1px solid var(--sp-white);
	    padding-left: 25px;
	    margin-left: 25px;
	    flex: 0 0 35%;
	}
	
	.home-blog .post-image img {
		min-height: 175px;
    }
	
	.varuda-theme .navbar-area {
		background: none;
		box-shadow: none;
	}
}

@media (min-width: 992px) and (max-width: 1198px) {
    .main-slider .owl-nav {
    	bottom: 9.2em;
    }
    .header-transparent .main-slider .owl-nav {
		bottom: 7.9em;
	}
	.header-transparent.header-center .main-slider .owl-nav{
		bottom: 0.75em;
	}
    .header-transparent .theme-content h3 {
	    font-size: 16px;
	    margin-bottom: 0;
	}
    .header-transparent .theme-content h1 {
	    font-size: 30px;
	    margin-bottom: 0;
	}
	.header-transparent .theme-content p {
	    margin-bottom: 10px;
	}
}

@media (min-width: 992px) and (max-width: 1124px) {
	.widget_social_widget li:not(:last-child) a {
	    margin-right: 3px;
	}
	.av-btn-wrapper .av-btn:not(:last-child),
	.footer-copyright .widget li:not(:last-child) {
	    margin-right: 10px;
	}
	.menubar .menu-wrap > li > a {
	    padding: 0px 13px;
	}
}

@media (min-width: 992px) and (max-width: 1111px) {
	.header-widget:not(.header-carousel) .widget:not(.widget_media_video) {
	    flex: 1;
	}

	.widget-right .widget, .widget-left .widget {
	    padding: 0px 10px;
	}

	.widget-right .widget:nth-child(n+2) {
	    padding: 0 10px;
	}

	.header .contact-info span.title {
	    font-size: 14px;
	}
	.av-button-area {
	    padding-left: 0.75em;
	}
	.menu-right > ul {
    	padding-left: 12px;
    }
	li.search-button {
	    padding-left: 5px;
	}
}

@media (max-width: 991px) {
	.badge {
	    line-height: 1.2;
	    vertical-align: text-top;
	}
	.not-included {
		margin-top: -10px;
	}
	div.theme-mobile-nav {
	    display: block;
	}
	.hide-mobile-tablet.sticky-menu {
		position: relative;
	}
	.hide-mobile-tablet {
		display : none;
	}
    .mobile-menu .login-btn {
        display: none;
    }
    .header .widget_info li {
        margin-right: 0;
        margin-bottom: 5px;
    }
    .header-widget .widget_social li a {
        margin-bottom: 4px;
    }
    .main-slider .owl-nav {
	    bottom: 2em;
	}
	.theme-slider div.theme-content {
		margin-top: 0;
		margin-bottom: 0;
	}
    .theme-content h1 {
	    font-size: 28px;
	}
	.theme-content h3 {
	    font-size: 22px;
	}
	.theme-content p {
	    font-size: 14px;
        margin-bottom: 10px;
	}
	.info-section {
    	margin-top: 40px;
    	margin-bottom: 40px;
    }
    .info-wrapper li {
	    flex: 1 1 100%;
	}
    .info-wrapper li:not(:last-child) {
	    margin-bottom: 15px;
	}
	.info-wrapper li:not(:last-child) {
	    margin-right: 0;
	}
	.widget-left .widget:nth-child(2n+3),
	.widget-left .widget:first-child,
	.widget-right .widget:nth-child(n+2),
	.widget-right .widget, .widget-left .widget {
    	padding: 0 10px;
    }
    .widget-left, .widget-right {
	    justify-content: center;
	}
	.av-text-404 h1, .av-text-404 img {
	    max-width: 670px;
	}
	.av-text-404 h1 {
	    font-size: 350px;
	}
	.av-text-404 h2 {
	    margin: 35px 0 22px;
	}
	.main-slider .owl-item .av-column-5 .aera-img {
	    width: auto;
	    max-height: 190px;
	}
	.main-slider .theme-slider .text-right .av-column-5 .aera-img {
	    margin-left: auto;
	}
	.main-slider .theme-slider .text-center .av-column-5 .aera-img {
	    margin: auto;
	}
	.team-member:hover .team-footer {
		justify-content: center;
	}
	.varuda-theme .owl-item .aera-img img {
		max-height: 220px;
		text-align: center;
		margin: auto;
	}
    nav.woocommerce-pagination, .pagination {
        margin-bottom: 50px;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
	.hide-tablet {
		display : none;
	}
	.hide-tablet.sticky-menu {
		position: relative;
	}
}

@media (min-width: 601px) and (max-width: 991px) {
	.gallery-area .gallery-item {
	    -ms-flex: 0 0 50%;
	    flex: 0 0 50%;
	    max-width: 50%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.headtop-mobi {
    	right: 17px;
    }
}

@media (max-width: 768px) {
	.av-my-default {
    	margin: 80px 0;
	}
	.av-mt-default {
	    margin-top: 80px;
	}
	.av-mb-default {
	    margin-bottom: 80px;
	}

	.av-py-default {
	    padding: 80px 0;
	}
	.av-pt-default {
	    padding-top: 80px;
	}
	.av-pb-default {
	    padding-bottom: 80px;
	}
}

@media (max-width: 767px) {
	.av-container-fluid,
	.av-container {
		padding: 0 25px;
	}
	.hide-mobile-tablet.sticky-menu {
		position: relative;
	}
	.hide-mobile-tablet {
		display : none;
	}
	
	.breadcrumb-right .breadcrumb-content,
	.breadcrumb-content {
		-ms-flex-direction: column;
		flex-direction: column;
		-ms-flex-pack: center;
		justify-content: center;
		text-align: center;
	}
	.breadcrumb-right h2 {
		text-align: center;
	}
	
	.breadcrumb-content .breadcrumb-heading,
	.breadcrumb-content .breadcrumb-list {
		max-width: 100%;
		text-align: center;
	}

    .header-widget .widget:nth-child(1n+2) {
        margin-left: 0;
    }
    .header-widget .widget_social li:first-child a {
        padding-left: 0;
    }
    .mobi-head-top {
    	width: 100%;
    }
	.mobile-logo {
	    text-align: center;
	}
	.site-description {
	    white-space: normal;
	}
	.site-title, .site-description {
	    text-align: left;
	}
	.footer-copyright .widget-left,
	.footer-copyright .widget-right {
	    justify-content: center;
	}
	.cta-wrapper {
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
    }
    .cta-text-content .cta-wrapper {
	    padding: 25px;
	}
    .cta-img-icon {
	    width: auto;
	}
	.cta-content {
	    flex: auto;
	}
    .av-text-404 h1 {
	    font-size: 310px;
	}
	.av-text-404 img {
	    width: 230px;
	}
	.av-text-404 h2 {
	    margin: 25px 0 22px;
	}
	.heading-default h3:before {
	    left: -32px;
	    width: 40px;
	}
    .footer-main .widget {
	    margin-bottom: 1.2rem;
	}
    .footer .widget + .widget {
	    padding-top: 1.2rem;
	}
	.cta-content p {
	    margin-bottom: 10px;
	}
	.headtop-mobi {
    	width: 32px;
    }
    .headtop-mobi:after {
    	top: 25px;
    	border-width: 16px;
    }
    .theme-mobile-menu .header-wrap-right .av-button-area {
	    display: none;
	}
	.main-slider .owl-item .item {
	    padding: 14px 0;
	    min-height: 182px;
	    background-size: cover;
	}
	.admin-bar .theme-mobile-nav:not(.sticky-menu) .header-close-menu {
        top: 8.4%;
    }
}

@media (max-width: 699px) {
	.av-text-404 h1 {
	    font-size: 250px;
	}
	.av-text-404 img {
	    width: 180px;
	}
	.av-text-404 h2 {
	    margin: 18px 0 22px;
	}
	.team-member:hover .team-footer {
	    justify-content: center;
	}
}

@media (max-width: 436px) {
	.heading-default h3:before {
	    left: 0;
	    width: 40px;
	}
	.calendar_wrap table th,
	.calendar_wrap table td {
    	line-height: 43px;
    }

    .comments-area .comment-meta .comment-author img {
	    position: unset;
	    width: 100px;
		margin-bottom: 15px;
	}
	.comments-area .comment-body {
	    padding: 25px 25px 25px 25px;
	}
}

@media (max-width: 540px) {
	.comment-list .children {
	    margin-left: 1rem;
	}
    .widget_media_gallery .gallery-item {
        width: 100%;
        margin-bottom: 30px;
    }
	.hide-mobile {
		display : none;
	}
	.hide-mobile.sticky-menu {
		position: relative;
	}
	.theme-content h3 {	    
	    font-size: 15px;
	    margin-top: 5px;
	    margin-bottom: 3px;
	}
	.theme-content h1 {
	    font-size: 22px;
	    margin-bottom: 3px;
	}
	.theme-content p {
	    font-size: 13px;
	    margin-bottom: 5px;
	}
	.theme-content .av-btn {
	    font-size: 13px;
	    padding: 0 14px;
	    line-height: 2.3;
	}
	.theme-content .av-btn:not(:last-child) {
	    margin-right: 18px;
	}
	.info-wrapper .widget {
	    padding: 28px 14px;
	}
	.breadcrumb-content-below {
		padding: 16px 0;
	}
	.breadcrumb-widget {
	    margin-top: 14px;
	}
	.breadcrumb-content-below .breadcrumb-list,
	.breadcrumb-content-below .breadcrumb-widget {
	    flex: auto;
	}
	.breadcrumb-content-below .breadcrumb-list,
	.breadcrumb-content-below .breadcrumb-widget {
		max-width: 100%;
		text-align: center;
	}
	.breadcrumb-widget .widget {
		max-width: 100%;
	}
	.av-text-404 h1 {
	    font-size: 150px;
	}
	.av-text-404 img {
	    width: 100px;
	}
	.av-text-404 h2 {
		font-size: 24px;
	}
	.widget-left, .widget-right {
	    flex-wrap: wrap;
	}
	.widget-right .widget,
	.widget-left .widget {
    	width: 100%;
	    padding: 0 10px;
    }
	.widget-right .widget:not(:last-child),
	.widget-left .widget:not(:last-child) {
	    padding: 0;
    	padding-bottom: 10px;
    }
    .site-description {
	    padding-top: 2px;
	}
	.widget.widget_social_widget li:not(:last-child) {
	    margin-right: 6px;
	}
	.cta-img-icon {
	    width: 100%;
	    margin: 0 0 15px 0;
	}
	.cta-img-icon img {
		margin: 0 auto;
	}
	.cta-content {
        flex-wrap: wrap;
	}
	.cta-3 .cta-content .cta-img {
		margin-bottom: 10px;
	}
	.cta-wrapper {
	    text-align: center;
        padding: 56px 15px;
	}
	.cta-section.cta-3 .cta-wrapper {
		text-align: left;
	}
	.cta-btn-wrap {
	    margin: 0 auto;
	}
	.av-btn-wrapper {
	    text-align: center;
	}
	.av-btn-wrapper .av-btn:not(:last-child) {
	    margin-right: 10px;
	}
	.av-btn-wrapper .av-btn:nth-child(2) {
		margin-right: 0;
	}
	.av-btn-wrapper .av-btn:last-child {
	    margin-top: 10px;
	}
	
	.post-items .post-meta ul li a {
        line-height: 1.5;
        padding: 0 8px;
        font-size: 12px;
    }
}

@media only screen and (max-width:420px) {
    .mobile-logo .logo {
        max-width: 170px;
    }
    .mobile-logo .logo img {
        max-width: 100%;
    }
    .logo a, .mobile-logo a, .site-title {
        display: flex;
        font-size: 23px;
        align-items: center;
    }
    .mobile-menu-right .header-search-toggle{
        font-size: 14px;
    }
    .hamburger-menu .menu-toggle {
        padding: 4px 5px 4px;
    }
    .hamburger-menu,
    .mobile-menu-right .header-search-toggle {
        width: 32px;
        height: 32px;
        line-height: 1.65;
    }
	.post-content table {
        overflow-x: auto;
        display: flex;
    }
	.varuda-theme .owl-item .aera-img img {
		max-height: 160px;
	}
}

@media only screen and (max-width: 366px) {
	.cta-btn-wrap {
		flex-wrap: wrap;
	}
}

@media only screen and (max-width: 343px) {
	.cta-more {
		margin: 0;
		display: block;
		text-align: left;
		margin-top: 10px;
	}
}

@media only screen and (max-width: 330px) {
    .theme-mobile-menu .header-wrap-right li {
        margin-right: 6px;
    }
    .mobile-logo .logo {
        max-width: 168px;
    }
	.heading-default h3 {
        font-size: 34px;
    }
}

/* @media Responsive End */
